body {
  padding: 10px;
  background-color: #0b0e16;
  color: #a1afc3;
  overflow-y: scroll;
  overscroll-behavior: auto;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto;

  --mdc-outlined-text-field-input-text-color: #a1afc3;
  --mdc-outlined-text-field-disabled-input-text-color: #A9A9A9FF;
  --mdc-outlined-text-field-input-text-placeholder-color: #a9a9a9;

  --mat-select-panel-background-color: #0b0e16;
  --mat-select-enabled-trigger-text-color: #a1afc3;
  --mat-select-disabled-trigger-text-color: #a9a9a9;
  --mat-select-placeholder-text-color: #efedf0;
  --mat-select-enabled-arrow-color: #efedf0;
  --mat-option-selected-state-label-text-color: #0b0e16;
  --mat-option-label-text-color: #a1afc3;
}

.mat-mdc-select-panel {
  border-radius: 3px !important;
  box-shadow: 0px 0px 0px 2px #005cbb !important;
}





