<form [formGroup]="tradeForm" (ngSubmit)="subscribe()">
  <mat-form-field appearance="outline">
    <input matInput class="form-control" formControlName="symbol" type="text" placeholder="Symbol.."/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-select class="form-control"  formControlName="route">
      <mat-option value="BUY">BUY</mat-option>
      <mat-option value="SELL">SELL</mat-option>
      <mat-option value="SHORT">SHORT</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput class="form-control"  formControlName="volume" type="number" placeholder="Volume..."/>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <input matInput class="form-control"  formControlName="value" type="number" placeholder="Price..."/>
  </mat-form-field>
  <button mat-stroked-button (click)="subscribe()" style="width: 7em;">Subscribe</button>
  <button mat-stroked-button (click)="newOrder()" style="width: 7em; margin-right: 20px;">Order</button>
  <div>
    <h2>Balance:</h2>
    <h2>
      <div #balanceIndicator style="margin-left: 5px; margin-right: 5px"></div>
    </h2>
    <a href='#' aria-label='Disconnect' (click)="sendDisconnect()" style="font-size: 40px; line-height: 0">&times;</a>
  </div>
</form>
