<form [formGroup]="tradeForm" (ngSubmit)="subscribe()">
  <div class="column-container">
    <div class="row-container">
      <input #symbol class="form-control" type="text" placeholder="Symbol.." style="width: 10em; margin-right: 20px;"/>
      <select id="route" class="form-control" style="width: 6em; margin-right: 20px;">
        <option value="BUY">BUY</option>
        <option value="SELL">SELL</option>
        <option value="SHORT">SHORT</option>
      </select>
      <input #vol class="form-control" type="text" placeholder="Volume..." style="width: 10em; margin-right: 20px;"/>
      <input #val class="form-control" type="text" placeholder="Price..."  style="width: 10em; margin-right: 20px;"/>
      <button type="button" (click)="subscribe()" style="width: 7em;" >Subscribe</button>
      <button type="button" (click)="newOrder()" style="margin-right: 20px; width: 7em;" >Order</button>
      <div class="row">
          <div class="row-container" >
            <h2>Balance:</h2>
            <h2><div #balanceIndicator style="margin-left: 5px; margin-right: 5px"></div></h2>
            <a href='#'  aria-label='Disconnect' (click)="sendDisconnect()" style="font-size: 40px; line-height: 0">&times;</a>
          </div>
      </div>
    </div>
  </div>
</form>
