::ng-deep .mat-form-field {
  .mat-input-element {
    color: #b2c0c7;
  }
  .mat-form-field-label {
    color: #b2c0c7;
  }
  .mat-form-field-underline {
    background-color: #b2c0c7;
  }
  .mat-form-field-ripple {
    background-color: #b2c0c7;
  }
  .mat-form-field-required-marker {
    color: #b2c0c7;
  }
}

