.table-container {
  width: 100%;
  border: 1px solid #a1afc3 !important;
  border-radius: 10px !important;
}

.short-position {
  color: red
}

.long-position {
  color: green
}

.closed-short-position {
  color: lightgrey
}

.closed-long-position {
  color: lightgrey
}
