<div class="table-container">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="UUID">
      <th mat-header-cell *matHeaderCellDef> Position ID</th>
      <td mat-cell *matCellDef="let position"> {{ position.uuid }}</td>
    </ng-container>
    <ng-container matColumnDef="Symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol</th>
      <td mat-cell *matCellDef="let position">{{ position.symbol }}</td>
    </ng-container>

    <ng-container matColumnDef="Route">
      <th mat-header-cell *matHeaderCellDef> Route</th>
      <td mat-cell *matCellDef="let position">{{ position.route }}</td>
    </ng-container>

    <ng-container matColumnDef="Quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity</th>
      <td mat-cell *matCellDef="let position">{{ position.volume }}</td>
    </ng-container>

    <ng-container matColumnDef="Wap">
      <th mat-header-cell *matHeaderCellDef> Wap</th>
      <td mat-cell *matCellDef="let position">{{ position.weightedAveragePrice }}</td>
    </ng-container>

    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let position">
        <button mat-stroked-button (click)="closePosition(position)"
                [disabled]="!isActive(position)"
                style="font-size: 1.3em; width: 1em! important;min-width: unset!important;">&times;
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
    <tr mat-row [class]="getPositionTypeClass(position)" *matRowDef="let position; columns: displayedColumns;"></tr>
  </table>
</div>
