.table-container {
  width: 100%;
  border: 1px solid #a1afc3 !important;
  border-radius: 10px !important;
}

.short-order {
  color: red;
}

.long-order {
  color: dodgerblue;
}

.filled-short-order {
  color: palevioletred;
}

.filled-long-order {
  color: skyblue;
}
