.short-order {
  color: red;
}

.long-order {
  color: dodgerblue;
}

.filled-short-order {
  color: palevioletred;
}

.filled-long-order {
  color: skyblue;
}

.short-position {
  color: red
}

.long-position {
  color: green
}

.closed-short-position {
  color: lightgrey
}

.closed-long-position {
  color: lightgrey
}
